{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx", ".js", ".jsx", ".json"]
      }
    }
  },
  "rules": {
    "import/prefer-default-export": "off",
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "error",
        "@typescript-eslint/interface-name-prefix": "error",
        "@typescript-eslint/no-unused-vars": [
          "error",
          { "args": "all", "argsIgnorePattern": "^_" }
        ]
      }
    },
    {
      "files": ["*.ts"],
      "rules": {
        "@typescript-eslint/explicit-member-accessibility": [
          "error",
          { "accessibility": "explicit" }
        ],
        "@typescript-eslint/no-parameter-properties": "off"
      }
    },
    {
      "files": ["*.tsx"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "import/no-extraneous-dependencies": "off",
        "react/destructuring-assignment": "off",
        "react/jsx-filename-extension": "off",
        "react/jsx-one-expression-per-line": "off"
      }
    }
  ]
}
